.element__wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(290px, 1fr));
  justify-items: stretch;
  align-items: start;
}
.element__figure {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 55px;
  box-sizing: border-box;
  background: #f3f2f1;
}

.element__body {
  padding: 55px;
  box-sizing: border-box;
  background: #fff;
}

.element__image {
  width: 100%;
  height: 100%;
  max-width: 345px;
  min-height: 490px;

  object-fit: cover;
  box-shadow: 25px 20px 30px #a9a9a8;
}

.element__categories {
  font: normal 400 16px "Roboto", sans-serif;
  color: #676767;
  margin-bottom: 50px;
}

.element__title {
  font: normal 700 22px "Roboto", sans-serif;
  color: #000;
  margin-bottom: 25px;
}

.card__author {
  font: normal 400 16px "Roboto", sans-serif;
  margin-bottom: 40px;
}

.element__link {
  color: #878787;
}

.element__subtitle {
  width: 100%;
  height: 100%;
  min-height: 230px;
  border: 1px solid #878787;

  box-sizing: border-box;
  padding: 25px;
}