.elements {
  padding: 45px 0 0;
}

.elements__list {
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 45px;
  justify-items: center;
}
.elements__button {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: gray;
  transition: .3s;
}

.elements__button:hover {
  color: gray;
  background-color: #fff;
  border: 1px solid gray;
  text-decoration: none;
}

.elements__button_hidden {
  display: none;
}